<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/board.css}"/>
<title>게시글 등록</title>
</head>
<style>
	h2{boarder:1px; text-align: center;}
</style>
<body>
  <div class="container">
    <h2>게시판 등록</h2>
    <form id="frm" name="frm" method="post" action="/board/insertBoard">
      <table class="board_detail">
        <tr>
          <td>제목</td>
          <td><input type="text" id="title" name="title" required="required"/></td>
        </tr>
        <tr>
          <td>작성자</td>
          <td><input type="text" id="author" name="author"/></td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea id="contents" name="contents"></textarea>
          </td>
        </tr>
      </table>
      <a href="list" class="btn" id="list">목록으로</a>
      <input type="submit" id="submit" value="저장" class="btn"/>
    </form>
  </div>
</body>
</html>