<!DOCTYPE html>
<html lang="en">
  <head>
   <!--  <link th:href="@{HSSantokki-Regular.ttf}" /> -->
    <meta charset="UTF-8" />
    <title>오늘 뭐먹지?</title>
    <link rel="stylesheet" href="/css/HomePage.css" />
  </head>
  <body>
    <!--메인화면 꽉차게 = main -->
    <div id="main-bg">
      <div class="container">
        <div class="flip-btn">
          <!--  커서를 올리기전과 올리고 나서모습이 2개이므로   -->

          <button class="front">
            <img src="/pics/logo.png" style="width: 100%; height: 100%" />회원가입
          </button>
          <button
            type="button"
            class="back" 
            onclick="location.href='LoginForm'"
          >
            <img src="/pics/human.png" style="width: 100%; height: 100%" />환영합니다
          </button>
        </div>
      </div>
	<a th:href="@{/mall/main}">
      <button class="btn1">
        <img src="/pics/cake.png" style="width: 100%; height: 100%" />
      </button>
     </a>
      <button class="btn2">
        <img src="/pics/egg.png" style="width: 100%; height: 100%" />
      </button>
      <a th:href="@{/board/main}">
      <button class="btn3">
        <img src="/pics/sand.png" style="width: 100%; height: 100%" />
      </button>
      </a>
    </div>
  </body>
</html>
