<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/LoginForm.css}" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="box" id="bx">
      <form id='userdata'>
        <input class='userdata' type="text" placeholder="아이디" id='userid'/>
        <input type="password" placeholder="비밀번호" id='pwd'/>
        <input type="text" placeholder="닉네임" id='nickname'/>
        <input type="email" placeholder="Email" id='email'/>
        <button type="button" id='loginbtn' class="btn">로그인</button>
      </form>
      <div class="sign-up-box">
        <i class="material-icons">+</i>
      </div>
    </div>
    <script src="/js/LoginForm.js"></script>
  </body>
</html>
	