@charset "UTF-8";

body {background-color:#eee;}

.side-nav {
  width: 250px;
  height: 100%;
  background: wheat;
  color: white;
  padding: 25px;
  /* 맨앞으로 고정 */
  position: fixed;
  text-align: right;
  /* 첫화면에는 조금만 보이게끔 */
  transform: translateX(-170px);
}

.side-nav:hover {
  transform: translateX(0px);
  text-align: center;
  font-size: 30px;
}