<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.today.mapper.CategoryMapper">
        
          <select id="CategoryList"
       resultType="com.today.vo.Category">
        SELECT DISTINCT ca, name FROM category
       </select>
       
        <select id="ProductList"
        parameterType="String"
       resultType="com.today.vo.Product">
       SELECT * FROM product WHERE type =  #{type}
       </select>
       
       <select id="a">
      SELECT * FROM category
      </select>

          <select id="clist"
       resultType="com.today.vo.Category">
        SELECT * FROM category
        </select>
        
            <select id="CdList"
            parameterType="String"
       resultType="com.today.vo.Category">
        SELECT * FROM category WHERE ca =  #{ca}
        </select>
        
           <select id="ProductD"
            parameterType="String"
       resultType="com.today.vo.Product">
     SELECT name, ppic, price FROM product WHERE ca =  #{ca}
        </select>
     <!--    
        <insert id="ProductAdd"
        parameterType="com.today.vo.Product">
        INSERT INTO product (num, count, name, price, coo, weight, brand, expire, ca, type)
        values(
        PRO_SEQ.NEXTVAL,
        #{count},
        #{name},
        #{price},
        #{coo},
        #{weight},
        #{brand},
        #{expire},
        #{ca},
        #{type}
        )
        </insert>
     -->
        <insert id="ProductAdd"
       parameterType="com.today.vo.Product">
       
       <!-- Board.num 에 시퀀스 값을 보관해서 사용할 필요가 있다면 아래처럼...
      <selectKey keyProperty="num" resultType="integer" order="BEFORE">
          SELECT BOARD_SEQ.NEXTVAL FROM DUAL
      </selectKey>
      보드다음 숫자를 board객체의 num이라는 이름으로 저장
      위의 내용을 사용시 아래의 num은 #{num}으로 넣기
       -->
       INSERT INTO product (num, count, name, price, coo, weight, brand, expire, ca, type, ppic)
        values(
        PRO_SEQ.NEXTVAL,
        #{count},
        #{name},
        #{price},
        #{coo},
        #{weight},
        #{brand},
        #{expire},
        #{ca},
        #{type},
        #{ppic}
        )
    </insert>
    
    
     <update id="ProPicAdd" parameterType="list">
       INSERT INTO ProductPic (num, pnum, fname)
       SELECT PPIC_SEQ.NEXTVAL AS num, t.* FROM
       (
           <foreach collection="list" item="item" index="index" separator="union all">
                SELECT (SELECT MAX(num) FROM product) AS pnum, #{item.fname} FROM DUAL
           </foreach>
       ) t
   </update>
   
   <select id="getProduct"
   parameterType="com.today.vo.Product"
   resultType="com.today.vo.Product">
   Select * From product where num = #{num} 
   </select>
        
        
        
</mapper>
      
<!--        
     <select id = "listByDeptno"
        parameterType="Integer"
        resultType="com.ezen.demo.vo.Emp">
        
         SELECT * FROM emp2 WHERE deptno = #{deptno}
        
        </select>
        
         <delete id = "deleteByEmpno"
         parameterType="com.ezen.demo.vo.Emp">
         
         DELETE FROM emp2 WHERE empno= #{empno}
         
         </delete>
         
         <update id = "updateByDeptno"
         parameterType = "map">
         
         <![CDATA[
         UPDATE emp2 SET sal = #{sal} * 1.05 
         WHERE deptno = #{deptno} AND sal < #{sal}
         ]]>
         </update>
</mapper>

        <select id="list" 
       resultType="com.ezen.spring.web.vo.Emp">
        SELECT * FROM emp2
    </select>
    
    
        
       <select 
        id = "listByDeptno"
        parameterType="Integer"
        resultType="com.ezen.spring.web.vo.Emp">
        
         SELECT * FROM emp2 WHERE deptno=#(deptno)
        
        </select>
         
         
         List<Emp> listByDeptno(int deptno);
         
         
         <delete
         id = "deleteByEmpno"
         parameterType="com.ezen.spring.web.vo.Emp"
         >
         
         DELETE FROM emp2 WHERE empno= #{empno}
         
         </delete>
         
         -->