<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/clist.css}"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
function CateList()
{

}
</script>
</head>
<body>
<input type="checkbox" id="menuicon">
<label for ="menuicon">
</label>
<div class="sidebar">
<button type="button">뒤로가기</button>
<span th:each="c : ${CdList}">
<a href="thymeleaf/mall/clist/{ca}"></a>
<table border="1">
<tr>
<td>[[${c.cd}]]</td>
</tr>
</span>
</table>
</div>
<table border="1">
<span th:each="n : ${getN}">
<td>[[${n.name}]]</td>
</span>
</table>
<P>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<table border="1">
<span th:each="p : ${ProductD}">

<tr>
<td>
<a th:href="@{'/mall/detail?num='+${p.num}}">
<img th:src="@{'/pics/'+ ${p.ppic} }" width='200' height='200'>
</a>
</td>
</tr>
<tr>
<td>[[${p.price}]]</td>
</tr>
<tr>
<td>[[${p.name}]]</td>
</tr>
<tr>
<td>[[${p.num}]]</td>
</tr>
</span>
</table>

</body>
</html>