<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/clist.css}"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
function CateList()
{

}
</script>
</head>
<body>
<input type="checkbox" id="menuicon">
<label for ="menuicon">

</label>
<div class="sidebar">
<span th:each="c : ${CdList}">
<td>[[${c.cd}]]</td>
</div>
<span th:each="c : ${CdList}">
<td>[[${c.name}]]</td>
<P>
<p>
<p>
<span th:each="p : ${Product}">
<td>[[${p.ppic}]]</td>
<td>[[${p.price}]]</td>
<td>[[${p.name}]]</td>
</span>
</body>
</html>