<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/MallMain.css}"/>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
function MallDetail()
{
	
}
</script>
<!-- 
<script>
function changecategory()
{
	var category = $('#category').val();
	
	var a = "<select id='category'>"+
	"<option value='FRU'>과일</option>"+
	"<option value='VEG'>야채</option>"+
	"<option value='RICE'>쌀</option>"+
	"<option value='MEAT'>고기</option>"+
	"<option value='FISH'>생선</option>"+
	"<option value='WATER'>물</option>"+
	"<option value='COFFEE'>커피</option>"+
	"<option value='SNACK'>과자</option>"+
	"<option value='RAMEN'>라면</option>"+
	"<option value='DRA'>드레싱</option>"+
	"<option value='SOURCE'>조미료</option>"+
	"<option value='EGG'>계란</option>"+
	"</select>";
	
	if(category=='name')
	{
		$('#find').html("<input type='text' name='name'>");
	}
	else if(category=='type')
	{
		$('#find').html(a);
	}
}
</script>
 -->
 </head>
<body>

<div id="searchbar"><!-- 검색바 -->

<select class='dropdown' name='category' onchange='changecategory()'>
<option value='name'>전체</option>
<span th:each="n : ${list}">
	<option>[[${n.name}]]</option>
</span>
</select>

<span class='find'><input id='find' type='text' name='name'></span>
<button class ='btn1' type='submit'>검색</button>

</div>
</form>
<hr>

<table id='nca'><!-- 카테고리 표 -->
<tr>
<td><a href="/mall/clist/meat">축산</a></td>
<td><a href="/mall/clist/fish">수산</a></td>
<td><a href="/mall/clist/rice">쌀</a></td>
<td><a href="/mall/clist/veg">채소</a></td>
<td><a href="/mall/clist/fruit">과일</a></td>
<td><a href="/mall/clist/milk">유제품</a></td>
<td><a href="/mall/clist/sauce">조미료</a></td>
<td><a href="/mall/clist/drink">음료</a></td>
<td><a href="/mall/clist/ramen">라면</a></td>
<td><a href="/mall/clist/snack">과자</a></td>
<td><a href="/mall/clist/pf">가공식품</a></td>

</tr>
<tr>
<td>축산</td>
<td>수산</td>
<td>쌀</td>
<td>채소</td>
<td>과일</td>
<td>유제품</td>
<td>조미료</td>
<td>음료</td>
<td>라면</td>
<td>과자</td>
<td>가공식품</td>
</tr>
</table>

<hr>
<a href='/mall/add'><button type='button'>임시추가</button></a>
<div id='daggori'>
<img th:src="@{/pics/daggori.png}" width='500'>
</div>
<!-- <img th:src="@{/pics/oren.gif}" width='500'> -->
<!-- 
<div> 
<span th:each="n : ${nums}">
	[[${n}]]
	</span>
</div>
-->
</body>
</html>