<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<link rel="stylesheet" th:href="@{/css/style.css}">
<body>
<div class="grid1">
<div class="grid2">2</div><!-- name -->
<div class="grid3">3</div><!-- ppic -->
<div class="grid4">4</div><!-- price -->
<div>5</div>
<div>6</div>
<div>7</div>
<div>8</div><!-- count -->
<div>9</div><!-- 장바구니담기 -->
<div>10</div><!-- 구매 -->
<div class="grid11">11</div>
<div class="grid12">12</div>
<div>13</div>
<div>14</div>
<div>15</div>
<div>16</div>
<div>17</div>
<div>18</div>
<div>19</div>
<div>20</div>
<div>21</div>
<div>22</div>

</div>
[[${product}]]
</body>
</html>