<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<link rel="stylesheet" th:href="@{/css/style.css}">
<body>
<div class="grid1">
<div class="grid2">제품 이름</div><!-- name -->
<div class="grid3">제품 사진</div><!-- ppic -->
<div class="grid4">제품 가격</div><!-- price -->
<div>5</div>
<div>6</div>
<div>7</div>
<div>구매수량 조절</div><!-- count -->
<div>장바구니 담기</div><!-- 장바구니담기 -->
<div>구매버튼 or 비로그인시 로그인후 이용</div><!-- 구매 -->
</div>
<div class="grid11">11</div>
[[${product}]]
</body>
</html>