<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>로그인</title>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
function login()
{
var user = $('#login').serialize();

$.ajax
    ({
        url : '/tm/login',
        method : 'post',
        data : user,
        dataType : 'json',
        cache : false,
        success : function(res)
        {
			alert(res.userid);
			location.href="/ws/chat";
        },
        error(xhr,status,err)
        {
        	alert(에러);
            alert(err);
        }
    });
    return false;
}
</script>
</head>
<body>
<form id='logindata'>
아이디<input type='text' name='uid'>
비밀번호<input type='text' name='pwd'>
<button type='button'>로그인</button>
</form>
</body>
</html>